@value primary-text-color from '../../vars.module.css';

.notifications {
  line-height: 1.5;
  padding: 10px 15px;
  color: primary-text-color from;
}

.error {
  composes: notifications;
  background-color: red;
  color: white;
}

.success {
  composes: notifications;
  background-color: green;
  color: white;
}
